<!DOCTYPE html>
<html lang="el">

<head>
  <title>Κατάλογος βοηθειών covid-19</title>
</head>

<body>

  <h1 class="main-title">Κατάλογος βοηθειών covid-19</h1>

  <mat-divider></mat-divider>

  <img src="assets/images/karantina14hmerwn.jpg" alt="Quarantine Instructions">

  <mat-card class="card">
    <mat-card-title>
      <i class="pdf_icon fa fa-file-pdf-o fa-lg"></i>
      <a href="./assets/files/covid-odigies.pdf"
         target="_blank"> Κατευθυντήριες οδηγίες</a>
    </mat-card-title>
    <mat-card-content>
      Οδηγίες και μέτρα πρόληψης για εργοδότες και εργαζόμενους
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-title>
      <i class="pdf_icon fa fa-file-pdf-o fa-lg"></i>
      <a href="./assets/files/covid-work-measures.pdf"
         target="_blank"> Μέτρα προστασίας στον εργασιακό χώρο</a>
    </mat-card-title>
    <mat-card-content>
      Μέτρα προστασίας της Δημόσιας Υγείας μέσω πρόληψης κατά της
      διασποράς του κορωνοϊού COVID-19 σε χώρους εργασίας
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-title>
      <i class="img_icon fa fa-image fa-lg"></i>
      <a href="./assets/images/grafima_ergazomenwn1.jpg"
         target="_blank"> Γράφημα ροής συμπτωμάτων</a>
    </mat-card-title>
    <mat-card-content>
      Αναλυτική ακολουθία βημάτων σε περίπτωση εμφάνισης συμπτωμάτων
      (πυρετού, βήχα, δύσπνοιας, αγευσίας, ανοσμίας, ...) σε μορφή γραφήματος
    </mat-card-content>
  </mat-card>

  <mat-card class="neg-test">
    <mat-card-title>
      Γνωρίζατε ότι...
    </mat-card-title>

    <p class="neg-test-text">Το αρνητικό τεστ που έκανε κάποιος, ο οποίος υπήρξε ΣΤΕΝΗ ΕΠΑΦΗ ενός ασθενή
    ή ενός θετικού κρούσματος, δεν διασφαλίζει ότι αυτός δεν θα νοσήσει τις
    επόμενες μέρες. Επομένως εάν εργαζόμενος/η έχει υπάρξει ΣΤΕΝΗ ΕΠΑΦΗ ενός
    ασθενή ή ενός επιβεβαιωμένα θετικού κρούσματος, μπαίνει σε καραντίνα 14
    ημερών, ασχέτως αν το τεστ βγαίνει αρνητικό.</p>
  </mat-card>

  <mat-card class="card">
    <mat-card-title>
      <i class="img_icon fa fa-image fa-lg"></i>
      <a href="./assets/images/grafima_ergazomenwn2.jpg"
         target="_blank"> Γράφημα ροής προτεινόμενης ακολουθίας δράσεων</a>
    </mat-card-title>
    <mat-card-content>
      Τα βήματα που κάθε πολίτης θα πρέπει να ακολουθεί σε περίπτωση
      υποψίας προσβολής από covid-19
    </mat-card-content>
  </mat-card>

  <div class="divider"></div>

</body>
