<!DOCTYPE html>
<html lang="el">

<head>
  <title>Οδηγίες Εργαζομένων</title>
</head>

<body>

  <img src="assets/images/karantina14hmerwn.jpg" alt="Quarantine Instructions">

  <div class="divider"></div>

  <p>Το αρνητικό τεστ που έκανε κάποιος, ο οποίος υπήρξε ΣΤΕΝΗ ΕΠΑΦΗ ενός ασθενή
  ή ενός θετικού κρούσματος, δεν διασφαλίζει ότι αυτός δεν θα νοσήσει τις
  επόμενες μέρες. Επομένως εάν εργαζόμενος/η έχει υπάρξει ΣΤΕΝΗ ΕΠΑΦΗ ενός
  ασθενή ή ενός επιβεβαιωμένα θετικού κρούσματος, μπαίνει σε καραντίνα 14
  ημερών, ασχέτως αν το τεστ βγαίνει αρνητικό.</p>

  <img src="assets/images/grafima_ergazomenwn1.jpg" alt="Quarantine Instructions">

  <div class="divider"></div>

  <img src="assets/images/grafima_ergazomenwn2.jpg" alt="Quarantine Instructions">

  <div class="divider"></div>
</body>
