
body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: -10vw;
}

.h3_header {
  color: white;
  margin-bottom: 50px;
}

.form-signin {
  padding: 20px;
  margin: auto;
  border: 1px solid transparent;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  background-color: deepskyblue;
  font-weight: 400;
  width: 400px;
}

.form-signin .form-control {
  border-radius: 2rem;
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input {
  margin-top: 2vw;
}

.login-btn:hover {
  background-color: steelblue;
  border-radius: 3rem;
}

.login-btn {
  background-color: dodgerblue;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 2vw;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  width: 150px;
}

.registration {
  margin-top: 1vw;
  color: white;
}


.registration-link {
  color: dimgrey;
}
