<!DOCTYPE html>
<html lang="en">

<body>
  <div class="container">
    <h4 class="form_header">Επικοινωνία</h4>

    <form action="action_page">

      <label for="fname">Όνομα</label>
      <input type="text" id="fname" name="firstname" placeholder="Το όνομά σας">

      <label for="lname">Επίθετο</label>
      <input type="text" id="lname" name="lastname" placeholder="Το επίθετό σας">

      <label for="afm">ΑΦΜ</label>
      <input type="text" id="lname" name="lastname" placeholder="Ο Αριθμός Φορολογικού Μητρώου σας">

      <label for="subject">Πώς μπορούμε να σας βοηθήσουμε;</label>
      <textarea id="subject" name="subject" placeholder="πχ. Δεν μπορώ να δώ την κατάσταση εργασίας μου..." style="height:200px"></textarea>

      <div class="submit-button">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>
</body>

