<!DOCTYPE html>
<html>

<head>
  <title>YPAKP</title>
</head>

<body>

  <h1>HOME page title</h1>

    <div class="row">

      <div class="container">
        <img src="assets/images/emblem.png" alt="Ministry emblem">
        <h4><b>Το Υπουργείο</b></h4>
        <ul>
          <li>smt1</li>
          <li>smt2</li>
          <li>smt3</li>
        </ul>
    </div>

      <div class="container">
        <img src="assets/images/emblem.png" alt="Ministry emblem">
        <h4><b>Το Υπουργείο</b></h4>
        <ul>
          <li>smt1</li>
          <li>smt2</li>
          <li>smt3</li>
        </ul>
      </div>
  </div>


</body>

</html>
