
body {
  text-align: center;
  padding-top: 5vw;
  padding-left: 5vw;
  padding-right: 5vw;
  max-width: 115vw;
}


.main-title {
  margin-top: -30px;
}

mat-divider {
  margin-bottom: 50px;
}

.info-card {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.card {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

mat-card-content {
  font-size: 20px;
}

.pdf_icon {
  color: red;
}

.img_icon {
  color: green;
}

.divider {
  padding-bottom: 3vw;
}
