<!DOCTYPE html>
<html lang="el">

<head>
  <title>Δικαιώματα Εργαζομένων</title>
</head>

<body>

  <h1 class="main-title">Δικαιώματα Εργαζομένων</h1>

  <mat-divider></mat-divider>

  <mat-card class="info-card">
    <mat-card-content>
      Για να κάνετε δήλωση για τηλεργασία, αναστολή σύμβασης εργασίας
      ή άδεια ειδικού σκοπού, θα πρέπει να συνδεθείτε στον λογαριαμό
      σας χρησιμοποιώντας το ΑΦΜ και τον προσωπικό σας κωδικό
      και στη συνέχεια να επιλέξετε το ομώνυμο κουμπί της επιλογής σας.
    </mat-card-content>
    <mat-card-content>
      Ξεκινήστε <a href="/login">εδώ</a>
    </mat-card-content>

  </mat-card>

  <mat-card class="card">
    <mat-card-title>
      <i class="pdf_icon fa fa-file-pdf-o fa-lg"></i>
      <a href="./assets/files/thlergasia.pdf"
         target="_blank"> Απόφαση για την τηλεργασία</a>
    </mat-card-title>
    <mat-card-content>
      Η ανακοίνωση σε σχέση με την τηλεργασία
    </mat-card-content>
    <p>
      Εφημερίδα της Κυβερνήσεως - 2 Νοεμβρίου 2020 - Αρ. Φύλλου 4830
    </p>
  </mat-card>

  <mat-card class="card">
    <mat-card-title>
      <i class="pdf_icon fa fa-file-pdf-o fa-lg"></i>
      <a href="./assets/files/anastolh_sumbashs_ergasias.pdf"
         target="_blank"> Απόφαση για την αναστολή συμβάσεων εργασίας</a>
    </mat-card-title>
    <mat-card-content>
      Η ανακοίνωση σε σχέση με την αναστολή συμβάσεων εργασίας εργαζομένων σε
      επιχειρήσεις
    </mat-card-content>
    <p>
      Εφημερίδα της Κυβερνήσεως - 23 Οκτωβρίου 2020 - Αρ. Φύλλου 4706
    </p>
  </mat-card>

  <mat-card class="card">
    <mat-card-title>
      <i class="pdf_icon fa fa-file-pdf-o fa-lg"></i>
      <a href="./assets/files/adeia_eidikou_skopou.pdf"
         target="_blank"> Άδεια Ειδικού Σκοπού</a>
    </mat-card-title>
    <mat-card-content>
      Η ανακοίνωση σε σχέση με ισχύ του
      μέτρου της χορήγησης άδειας ειδικού σκοπού για
      την αντιμετώπιση και τον περιορισμό της διάδοσης του κορωνοϊού
    </mat-card-content>
    <p>
      Εφημερίδα της Κυβερνήσεως - 10 Μαΐου 2020 - Αρ. Φύλλου 1778
    </p>
  </mat-card>

  <div class="divider"></div>

</body>
