<!DOCTYPE html>

<html lang="el">

<nav class="navbar navbar-expand-sm navbar-dark ">
  <mat-card class="title_card">
    <b><p class="navbar-title">Υπουργείο Εργασίας</p></b>
    <p class="navbar-subtitle">και Κοινωνικών Υποθέσεων</p>
  </mat-card>
  <span style="padding-left:100px"></span>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

      <li class="nav-item active">
        <a class="nav-link" href="">Αρχική<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Επικοινωνία</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Σύνδεση</a>
      </li>
    </ul>

  </div>

</nav>

<h1></h1> <!-- for wave tool alert/warning -->


<router-outlet></router-outlet>

</html>
