<!DOCTYPE html>

<html lang="en">

<nav class="navbar navbar-expand-sm navbar-dark ">
  <mat-card class="title_card">
    <b><p class="navbar-title">Υπουργείο Εργασίας</p></b>
    <p class="navbar-subtitle">και Κοινωνικών Υποθέσεων</p>
  </mat-card>
  <span style="padding-left:100px"></span>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

      <li class="nav-item" id = "home">
        <a class="nav-link" href="">Αρχική</a>
      </li>
      <li class="nav-item"  id = "contact">
        <a class="nav-link" href="/contact">Επικοινωνία</a>
      </li>
      <li class="nav-item"  id = "login">
        <a class="nav-link" *ngIf = "!loggedIn" href="/login">Σύνδεση</a>
      </li>
      <li class="nav-item" id = "profile">
        <a class="nav-link" *ngIf = "loggedIn" [href]="profileLink">Προφίλ</a>
      </li>
      <div *ngIf = "loggedIn">
        <button class="btn btn-link" (click)="logout()">Αποσύνδεση</button>
      </div>

    </ul>

  </div>

</nav>



<h1></h1> <!-- for wave tool alert/warning -->


<!--<select class="selectpicker" data-width="fit">-->
<!--  <a href="#cz">-->
<!--    <option data-content='<span class="flag-icon flag-icon-cz"></span> English'>Čeština</option>-->
<!--  </a>-->
<!--  <a href="#de">-->

<!--    <option  data-content='<span class="flag-icon flag-icon-de"></span> Español'>Deutsch</option>-->
<!--  </a>-->
<!--  <a href="#en">-->

<!--    <option  data-content='<span class="flag-icon flag-icon-gb"></span> Español'>English</option>-->
<!--  </a>-->
<!--</select>-->

<router-outlet></router-outlet>

</html>
