<!DOCTYPE html>
<html lang="el">

<body>

  <h1 class="header">Ραντεβού</h1>

  <mat-divider></mat-divider>

  <p class="greeting">
    Με την παρακάτω φόρμα μπορείται να κάνετε μία αίτηση για ραντεβού,
    κατόπιν της οποίας θα σας αποσταλεί επιβεβαίωση με email όπου θα
    αναγράφεται η ακριβής ώρα του ραντεβού σας.
  </p>



  <form action="action_page">

    <label for="fname">Όνομα</label>
    <input type="text" id="fname" name="firstname" placeholder="Το όνομά σας">

    <label for="lname">Επίθετο</label>
    <input type="text" id="lname" name="lastname" placeholder="Το επίθετό σας">

    <label for="afm">Ηλεκτρονική διεύθυνση (email)</label>
    <input type="email" id="email" name="email" placeholder="me@example.com">

    <label for="subject">Ο λόγος για τον οποίο θέλετε να κλείσετε ραντεβού:</label>
    <textarea class="text-area" id="subject" name="subject" placeholder="πχ. Θα ήθελα να παραλάβω την βεβαίωση εργασίας μου..."></textarea>

    <mat-form-field class="label-field" appearance="fill">
      <mat-label class="date-label">Choose a date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>



    <div class="submit-button">
      <input type="submit" value="Submit">
    </div>
  </form>

</body>
