<!DOCTYPE html>
<html lang="el">


<body>

    <mat-tab-group>
        <mat-tab label="Εργασία">
            <div *ngIf = "!isEmployer" >
                <mat-card class="company_info"><mat-card-title>Εταιρία</mat-card-title>
                    <mat-card-content>{{employer?.company}}</mat-card-content>
                </mat-card>
                <mat-card class="company_info"><mat-card-title>ΑΦΜ</mat-card-title>
                    <mat-card-content>{{employer?.afm}}</mat-card-content>
                </mat-card>
                <mat-card class="company_info"><mat-card-title>Τρέχουσα Κατάσταση Εργασίας</mat-card-title>
                    <mat-card-content>
                        {{userData?.situation}}
                        <mat-card class="company_info"><mat-card-title>Μέχρι:</mat-card-title>
                            <mat-card-content>{{(userData?.situationDate | date:'medium' || 'None')}}</mat-card-content>
                        </mat-card>
                    </mat-card-content>
                </mat-card>

                <div *ngIf = "!applied && userData?.parentU12">
                    <button  class="btn btn-primary" (click)="show()">Αίτηση για Άδεια Ειδικού Σκοπού</button>
                </div>

                <div *ngIf = "showButton">
                    Επιθυμώ να κάνω δήλωση για άδεια ειδικού σκοπού
                    <button  class="btn btn-primary" (click)="applyForLeave()">Ναι</button>
                    <button  class="btn btn-danger" (click)="show()">Όχι</button>
                </div>

            </div>
            <div *ngIf = "isEmployer">
                <mat-card class="company_info"><mat-card-title>Εταιρία</mat-card-title>
                    <mat-card-content>{{userData?.company}}</mat-card-content>
                </mat-card>
                <table mat-table [dataSource]="employeeArray">
                <ng-container matColumnDef="firstName">
                  <th mat-header-cell *matHeaderCellDef>Όνομα</th>
                  <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
                </ng-container>

                <ng-container matColumnDef="lastName">
                  <th mat-header-cell *matHeaderCellDef>Επίθετο</th>
                  <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
                </ng-container>

                <ng-container matColumnDef="AFM">
                  <th mat-header-cell *matHeaderCellDef>ΑΦΜ</th>
                  <td mat-cell *matCellDef="let user"> {{user.afm}} </td>
                </ng-container>

                <ng-container matColumnDef="situation">
                    <th mat-header-cell *matHeaderCellDef>Κατάσταση Εργασίας</th>
                    <td mat-cell *matCellDef="let user"> {{user.situation}} </td>
                  </ng-container>

                  <ng-container matColumnDef="situationDate">
                    <th mat-header-cell *matHeaderCellDef>Μέχρι:</th>
                    <td mat-cell *matCellDef="let user"> {{(user.situationDate | date:'medium' || 'None')}} </td>
                  </ng-container>


                <ng-container matColumnDef="action1">
                    <th mat-header-cell *matHeaderCellDef>Αναστολή Εργασίας</th>
                    <td mat-cell *matCellDef="let user">
                        <button class="btn btn-primary" (click)="suspend(user)">Δήλωση</button>
                        <div *ngIf = "user.showButtonS">
                            <mat-form-field appearance="fill">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker" [(ngModel)]="user.situationDate" [min]="minDate" (ngModelChange) = "changeDate(user)" >
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>

                    </td>
                </ng-container>

                <ng-container matColumnDef="action2">
                    <th mat-header-cell *matHeaderCellDef>Εξ' Αποστάσεως Εργασία</th>
                    <td mat-cell *matCellDef="let user">
                        <button class="btn btn-primary" (click)="workFromHome(user)">Δήλωση</button>
                        <div *ngIf = "user.showButtonW">
                            <mat-form-field appearance="fill">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker" [(ngModel)]="user.situationDate" [min]="minDate" (ngModelChange) = "changeDate(user)" >                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="action3">
                    <th mat-header-cell *matHeaderCellDef>Άδεια Ειδικού Σκοπού</th>
                    <td mat-cell *matCellDef="let user">
                        <button class="btn btn-primary" (click)="leave(user)">Δήλωση</button>
                        <div *ngIf = "user.showButtonL">
                            <mat-form-field appearance="fill">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker" [(ngModel)]="user.situationDate" [min]="minDate" (ngModelChange) = "changeDate(user)" >                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="action4">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let user">
                        <button class="btn btn-primary" (click)="returnToNormal(user)">Επαναφορά Κατάστασης</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

            </div>

            <div *ngIf = "showConfirmButton">
                <button class="btn btn-primary" (click)="confirm()">Επιβεβαίωση</button>
            </div>

            <div *ngIf = "showConfirmButton">
                <button class="btn btn-primary" (click)="cancel()">Εκκαθάριση Αλλαγών</button>
            </div>

        </mat-tab>
        <mat-tab label="Χρήστης">
            <mat-card class="user_attribute" ><mat-card-title>Όνομα</mat-card-title>
                <mat-card-content>{{userData?.firstName}}</mat-card-content>
            </mat-card>
            <mat-card class="user_attribute"><mat-card-title>Επίθετο</mat-card-title>
                <mat-card-content>{{userData?.lastName}}</mat-card-content>
            </mat-card>
            <mat-card class="user_attribute"><mat-card-title>ΑΦΜ</mat-card-title>
                <mat-card-content>{{userData?.afm}}</mat-card-content>
            </mat-card>
        </mat-tab>
      </mat-tab-group>
</body>
