<!DOCTYPE html>
<html lang="el">

<head>
  <title>YPAKP</title>
</head>

<body>

  <div class="row">

    <mat-card class="card">
      <img mat-card-image src="../../assets/images/emblem.png" alt="Ministry Emblem">
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-card-title>Το Υπουργείο</mat-card-title>
        <mat-list>
          <mat-list-item><i class="fa fa-angle-right"></i><a class="nav-link" href="">Οργανωτική Δομή</a></mat-list-item>
          <mat-list-item><i class="fa fa-angle-right"></i><a class="nav-link" href="">Γενική Γραμματεία</a></mat-list-item>
          <mat-list-item><i class="fa fa-angle-right"></i><a class="nav-link" href="">Σώμα Επιθεώρησης Εργασίας (Σ.ΕΠ.Ε)</a></mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
      <img mat-card-image src="../../assets/images/employer.jpg" alt="Employer">
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-card-title>Είμαι Εργοδότης</mat-card-title>
        <mat-list>
          <mat-list-item><i class="fa fa-angle-right"></i><a class="nav-link" href="">Εξ' Αποστάσεως Εργασία</a></mat-list-item>
          <mat-list-item><i class="fa fa-angle-right"></i><a class="nav-link" href="">Κανονισμοί Λειτουργίας της Επιχείρησης</a></mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
      <img mat-card-image src="../../assets/images/employee.jpg" alt="Employee">
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-card-title>Είμαι Εργαζόμενος</mat-card-title>
        <mat-list>
          <mat-list-item><i class="fa fa-angle-right"></i><a class="nav-link" href="/workinfo">Τα δικαιώματά μου</a></mat-list-item>
          <mat-list-item><i class="fa fa-angle-right"></i><a class="nav-link" href="">Η εργασιακή μου κατάσταση</a></mat-list-item>
         </mat-list>
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
      <img mat-card-image src="../../assets/images/corona.jpg" alt="Coronavirus">
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-card-title>Κορονοϊός</mat-card-title>
        <mat-list>
          <mat-list-item><i class="fa fa-angle-right"></i><a class="nav-link" href="/covid">Κατεθυντήριες οδηγίες</a></mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

  </div>
